@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#msgAlerta.ativo{
    opacity: 1;
    transition: opacity .3s ease-in-out;
}
#msgAlerta2{
    display: none;
}
#msgAlerta2.ativo{
    display: block;
}

#spin.ativo{
    display: block;
}
#msgSexo.ativo{
    display: block;
}
#spinSave.ativo{
    display: block;
}
#spinRemove.ativo{
    display: block;
}
#spinEdit.ativo{
    display: block;
}

#msgSexoEdit.ativo{
    display: block;
}